/* Admin Edit Items */
#deleteItemsContainer {
  background-color: hsl(var(--mainColor), var(--mainSaturation), 90%);
}
#deleteItemsHeader {
  position: fixed;
  display: flex;
  align-items: center;
  padding: 0px 10px 0px 10px;
  left: 5vw;
  width: 93vw;
  z-index: 5;
  height: 70px;
  top: 0px;
  margin-top: 0px;
  background-color: hsl(var(--mainColor), var(--mainSaturation), 10%);
  gap: 10px;
}
#deleteItemsSearchForm input {
  border: solid hsl(var(--mainColor), var(--mainSaturation), 20%) 2px;
  background-color: hsl(var(--mainColor), var(--mainSaturation), 90%);
  border-radius: 20px;
  color: hsl(var(--mainColor), var(--mainSaturation), 10%);
}
#deleteItemsSubmitBtn {
  background-color: hsl(var(--mainColor), var(--mainSaturation), 90%);
  border: solid hsl(var(--mainColor), var(--mainSaturation), 20%) 2px;
  color: hsl(var(--mainColor), var(--mainSaturation), 10%);
  border-radius: 20px;
}
#deleteItemsSubmitBtn:hover {
  background-color: hsl(var(--mainColor), var(--mainSaturation), 80%);
}
#deleteItemsSubmitBtn:active {
  background-color: hsl(var(--mainColor), var(--mainSaturation), 70%);
}
#deleteItemsCategories {
  border: solid hsl(var(--mainColor), var(--mainSaturation), 20%) 2px;
  background-color: hsl(var(--mainColor), var(--mainSaturation), 90%);
  border-radius: 20px;
  color: hsl(var(--mainColor), var(--mainSaturation), 10%);
  margin-right: auto;
}
#deleteItemsHeading {
  color: hsl(var(--mainColor), var(--mainSaturation), 90%);
  -webkit-text-stroke: hsl(var(--mainColor), var(--mainSaturation), 80%) 1px;
}
#diBackBtn {
  background-color: hsl(var(--mainColor), var(--mainSaturation), 90%);
  border: solid hsl(var(--mainColor), var(--mainSaturation), 20%) 2px;
  color: hsl(var(--mainColor), var(--mainSaturation), 10%);
  font-size: x-large;
  font-weight: bolder;
  height: 50px;
  width: 50px;
  border-radius: 20px;
  margin-left: auto;
}
#diBackBtn:hover {
  background-color: hsl(var(--mainColor), var(--mainSaturation), 80%);
}
#diBackBtn:active {
  background-color: hsl(var(--mainColor), var(--mainSaturation), 70%);
}
#deleteItemsContainer {
  position: relative;
  top: 40px;
  left: 3vw;
  width: 95vw;
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.deleteItemsItemContainer {
  display: flex;
  flex-flow: column;
  background-color: hsl(var(--mainColor), var(--mainSaturation), 90%);
  border-top-left-radius: 60px;
  border-bottom-right-radius: 60px;
  border: solid 5px hsl(var(--mainColor), var(--mainSaturation), 20%);
  /* height: 600px; */
  width: 350px;
  padding: 25px 0px;
  justify-content: center;
  align-items: center;
}
.deleteItemsItemDitsContainer {
  display: flex;
  flex-flow: column;
  width: 295px;
  /* height: 235px; */
  border: 5px hsl(var(--mainColor), var(--mainSaturation), 20%) solid;
  border-bottom-right-radius: 60px;
  padding-left: 5px;
}
.deleteItemsItemImage {
  border: 5px hsl(var(--mainColor), var(--mainSaturation), 20%) solid;
  border-top-left-radius: 60px;
}
.deleteItemsItemName,
.deleteItemsItemBrand,
.deleteItemsItemPrice,
.deleteItemsItemDescription {
  margin: 5px;
  justify-self: flex-start;
  align-self: flex-start;
}
